@import "tailwindcss";

:root {
  --color-black: #0a0a0a;
  --color-white: #ffffff;
  --color-gray-light: #f5f5f5;
  --color-gray: #737373;
  --color-gold: #c8a96e;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: var(--color-gold);
  color: var(--color-white);
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}